// main: ../site.less

.form-control{
  border-radius: 2px;
  color: #666;
  padding: 5px 10px;
  border-color: #C9C8C8;
  &:focus{
    border-color: #888;
    box-shadow: none;
    -webkit-box-shadow:none;
  }
}
.form-group{
  a{
    padding: 7px 10px 7px 0;
    display: inline-block;
  }
}
label{
  font-weight: normal;
}
.form-required{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #e73d4a;
}
.control-checkbox{
  .checkbox{
    padding-left: 20px;
  }
}
.control-radio{
  .radio{
    padding-left: 20px;
  }
}
.input-group[class*=col-]{
  padding-right: 15px;
  padding-left: 15px;
}
.input-group-btn:last-child{
  > .btn, > .btn-group{
    margin-left: 10px;
  }
}
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn, .input-group .form-control.btn-end:first-child{
  border-radius: 2px;
}
.input-group-addon{
  border-radius: 2px;
  background-color: transparent;
  border-color: transparent;
  border-left: 0;
}
.tooltip{
  font-size: 14px;
}
.tooltip-inner{
  background: #fff;
  border: 1px solid #ccc;
  max-width: 300px;
  color: #666;
  border-radius: 0;
  min-width: 200px;
}
.tooltip.top .tooltip-arrow{
  border-top-color: #ccc;
}
