// main: ../site.less

body{
  color: #666;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
  color: #000;
}
h3,h4{
  color: #666;
  font-size: 14px;
}
h1{
  font-size: 18px;
}
h2{
  font-size: 16px;
}
h3{
  font-weight: bold;
}
a{
  color: #999;
  text-decoration: underline;
  &:hover, &:active, &:focus{
    text-decoration: none;
    color: #999;
  }
}
a.link-alternate{
  color: #30206c;
  &:hover, &:active, &:focus{
    color: #30206c;
  }
}
.mainContentWrapper{
  margin: 0 auto;
  padding: 10px 5px;
}
.well{
  background-color: #fff;
}
