// main: ../site.less

.mainNavWrapper{
  background: #5d596b;
}
.mainNav{
  max-width: 1130px;
  margin: 0 auto;
  ul{
    list-style-type: none;
    margin: 0 0 0 17px;
    padding: 0;
    li{
      float: left;
      a{
        border-radius: 25px;
        margin: 11px 1px;
        padding: 5px 14px 6px 13px;
        display: block;
        line-height: 17px;
        color: #fff;
      &:hover, &.current{
        background: #da5718;
        text-decoration: none;
        }
      }
    }
  }
  .dropdown{
    ul{
      margin: 0;
      background: #5d596b;
      border-radius: 0;
      border: none;
      li{
        display: block;
        width: 100%;
        a, a:hover, a:active, a:focus{
          display: block;
          border-radius: 0;
          margin: 0 0 10px 0;
          color: #fff;
        }
        a:last-child{
          margin-bottom: 0;
        }
      }
    }
    &.open{
      > a{
        background: #da5718;
        text-decoration: none;
      }
    }
  }
}
