// main: ../site.less

.panel{
  border-radius: 0;
}
.panel-heading{
  border-radius: 0;
  border: none;
  .panel-title{
    font-weight: bold;
    font-size: 14px;
  }
}
.panel-primary{
  border-color: #da5718;
  > .panel-heading{
    background: #da5718;
    border-color: #da5718;
  }
}
.panel-alternate{
  border-color: #30206c;
  > .panel-heading{
    background: #30206c;
    border-color: #30206c;
    color: #d8d6e0;
  }
}
.panel-footer{
  border:none;
}
